@using AssemblyLine.DAL.Entities
<script type="text/ng-template" id="employees.html">

    <h1>Employees <a class="btn btn-default" ui-sref="^.employeecreate"><i class="glyphicon glyphicon-plus"></i></a></h1>
    <div class="list-group" infinite-scroll="nextPage()">
        <a href="" ng-repeat="i in items" ui-sref="^.employeedetails({id: i.id})" class="list-group-item">
            {{i.firstName}} {{i.lastName}} <small><i>{{i.post}}</i></small>
        </a>
    </div>

    <div loader loader-if="isLoading"></div>

    <p ng-if="items.length == 0 && !isLoading"><i>There are no employees.</i></p>

</script>

<script type="text/ng-template" id="employees.details.html">

    <h1>Employee Details</h1>

    <div class="col-sm-8">
        <form class="form-horizontal" ng-if="item" name="itemForm" ng-submit="update(itemForm, item)">

            <div class="form-group">
                <label for="firstName">@Html.DisplayNameFor(x => new Employee().FirstName)</label>
                <input type="text" class="form-control" id="firstName" placeholder="" ng-model="item.firstName" ng-required />
            </div>
            <div class="form-group">
                <label for="lastName">@Html.DisplayNameFor(x => new Employee().LastName)</label>
                <input type="text" class="form-control" id="lastName" placeholder="" ng-model="item.lastName" ng-required />
            </div>
            <div class="form-group">
                <label for="post">@Html.DisplayNameFor(x => new Employee().Post)</label>
                <input type="text" class="form-control" id="post" placeholder="" ng-model="item.post" />
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <a class="btn btn-default" ui-sref="^.employees">&larr; Back</a>
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || item.$isLoading">
                    <span ng-if="item.$isLoading === undefined">Save</span>
                    <span ng-if="item.$isLoading === false"><i class="fa fa-check"></i> Saved</span>
                    <span ng-if="item.$isLoading === true"><i class="fa fa-spinner fa-spin"></i> Saving...</span>
                </button>
                <a href="#" class="btn btn-default" on-confirm-click confirm-click="delete(item)">Delete</a>
            </div>

        </form>

        <div loader loader-if="!item && isLoading"></div>

    </div>
</script>

<script type="text/ng-template" id="employees.create.html">

    <h1>New Employee</h1>

    <div class="col-sm-8">
        <form class="form-horizontal" ng-if="item" name="itemForm" ng-submit="create(itemForm, item)">

            <div class="form-group">
                <label for="firstName">@Html.DisplayNameFor(x => new Employee().FirstName)</label>
                <input type="text" class="form-control" id="firstName" placeholder="" ng-model="item.firstName" ng-required />
            </div>
            <div class="form-group">
                <label for="lastName">@Html.DisplayNameFor(x => new Employee().LastName)</label>
                <input type="text" class="form-control" id="lastName" placeholder="" ng-model="item.lastName" ng-required />
            </div>
            <div class="form-group">
                <label for="post">@Html.DisplayNameFor(x => new Employee().Post)</label>
                <input type="text" class="form-control" id="post" placeholder="" ng-model="item.post" />
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <a class="btn btn-default" ui-sref="^.employees">&larr; Back</a>
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || item.$isLoading">
                    <span ng-if="item.$isLoading === undefined">Create</span>
                    <span ng-if="item.$isLoading === false"><i class="fa fa-check"></i> Created</span>
                    <span ng-if="item.$isLoading === true"><i class="fa fa-spinner fa-spin"></i> Creating...</span>
                </button>
            </div>

        </form>

        <div loader loader-if="!item && isLoading"></div>
    </div>
</script>