@using AssemblyLine.DAL.Entities
<script type="text/ng-template" id="projects.html">

    <h1>Projects <a class="btn btn-default" ui-sref="^.projectcreate"><i class="glyphicon glyphicon-plus"></i></a></h1>
    <div class="list-group" infinite-scroll="nextPage()">
        <a href="" ng-repeat="i in items" ui-sref="^.projectdetails({id: i.id})" class="list-group-item">
            {{i.name}} <small><i>({{i.assemblyLinesNumber}} lines)</i></small>
        </a>
    </div>

    <div loader loader-if="isLoading"></div>

    <p ng-if="items.length == 0 && !isLoading"><i>There are no projects yet.</i></p>

</script>

<script type="text/ng-template" id="projects.details.html">

    <h1>Project Details</h1>

    <div class="col-sm-8">
        <form class="form-horizontal" ng-if="item" name="itemForm" ng-submit="update(itemForm, item)">

            <div class="form-group">
                <label for="name">@Html.DisplayNameFor(x => new Project().Name)</label>
                <input type="text" class="form-control" id="name" placeholder="" ng-model="item.name" ng-required />
            </div>

            <div class="form-group">
                <label for="vehicle">@Html.DisplayNameFor(x => new Project().Vehicle)</label>
                <select id="vehicle" class="form-control" ng-model="item.vehicle" ng-options="v.name for v in vehicles"></select>
            </div>
            <div class="form-group">
                <label for="vehicleNumber">@Html.DisplayNameFor(x => new Project().VehicleNumber)</label>
                <input type="number" step="1" min="0" class="form-control" id="vehicleNumber" placeholder="" ng-model="item.vehicleNumber" />
            </div>
            <div class="form-group">
                <label for="assemblyLinesNumber">@Html.DisplayNameFor(x => new Project().AssemblyLines)</label>
                <div class="list-group">
                    <a href="" ng-repeat="l in lines" ui-sref="^.projectline({pid: item.id, id: l.id})" class="list-group-item">{{l.line.name}}</a>
                </div>
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <h4>Delivery Parameters</h4>
            </div>

            <div class="form-group">
                <label for="deliveryAddress">@Html.DisplayNameFor(x => new Project().DeliveryAddress)</label>
                <input type="text" class="form-control" id="lastName" placeholder="" ng-model="item.deliveryAddress" ng-required />
            </div>
            <div class="form-group">
                <label for="deliveryContactPerson">@Html.DisplayNameFor(x => new Project().DeliveryContactPerson)</label>
                <input type="text" class="form-control" id="deliveryContactPerson" placeholder="" ng-model="item.deliveryContactPerson" />
            </div>
            <div class="form-group">
                <label for="deliveryPhone">@Html.DisplayNameFor(x => new Project().DeliveryPhone)</label>
                <input type="text" class="form-control" id="deliveryPhone" placeholder="" ng-model="item.deliveryPhone" />
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <a class="btn btn-default" ui-sref="^.projects">&larr; Back</a>
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || item.$isLoading">
                    <span ng-if="item.$isLoading === undefined">Save</span>
                    <span ng-if="item.$isLoading === false"><i class="fa fa-check"></i> Saved</span>
                    <span ng-if="item.$isLoading === true"><i class="fa fa-spinner fa-spin"></i> Saving...</span>
                </button>
                <a href="#" class="btn btn-default" on-confirm-click confirm-click="delete(item)">Delete</a>
            </div>

        </form>

        <div loader loader-if="!item && isLoading"></div>

    </div>

</script>

<script type="text/ng-template" id="projects.line.html">

    <h1>Project Assembly Line: {{item.line.name}}</h1>

    <div class="col-sm-8">
        <form class="form-horizontal" ng-if="item" name="itemForm" ng-submit="update(itemForm, item)">

            <div class="form-group">
                <h3>@Html.DisplayNameFor(x => new ProjectAssemblyLine().ProductionTeam)</h3>
            </div>

            <div class="form-group">
                <label for="productionManager">@Html.DisplayNameFor(x => new AssemblyLineTeam().Manager)</label>
                <select id="productionManager" class="form-control" ng-model="item.productionTeam.manager" ng-options="e.displayName for e in employees"></select>
            </div>

            <div class="form-group">
                <label>@Html.DisplayNameFor(x => new AssemblyLineTeam().Engineers)</label>
            </div>
            <div class="form-group" ng-repeat="en in item.productionTeam.engineers">
                <select class="form-control" ng-model="item.productionTeam.engineers[$index]" ng-options="e as e.displayName for e in employees"></select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="addProductionEngineer()">Add Engineer</button>
            </div>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="form-group">
                <h3>@Html.DisplayNameFor(x => new ProjectAssemblyLine().ProcurementTeam)</h3>
            </div>
            
            <div class="form-group">
                <label for="procurementTeam">@Html.DisplayNameFor(x => new AssemblyLineTeam().Manager)</label>
                <select id="procurementTeam" class="form-control" ng-model="item.procurementTeam.manager" ng-options="e.displayName for e in employees"></select>
            </div>

            <div class="form-group">
                <label>@Html.DisplayNameFor(x => new AssemblyLineTeam().Engineers)</label>
            </div>
            <div class="form-group" ng-repeat="en in item.procurementTeam.engineers">
                <select class="form-control" ng-model="item.procurementTeam.engineers[$index]" ng-options="e as e.displayName for e in employees"></select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default btn-sm" ng-click="addProcurementTeamEngineer()">Add Engineer</button>
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <a class="btn btn-default" ui-sref="^.projectdetails({id: pid})">&larr; Back</a>
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || item.$isLoading">
                    <span ng-if="item.$isLoading === undefined">Save</span>
                    <span ng-if="item.$isLoading === false"><i class="fa fa-check"></i> Saved</span>
                    <span ng-if="item.$isLoading === true"><i class="fa fa-spinner fa-spin"></i> Saving...</span>
                </button>
                <a href="#" class="btn btn-default" on-confirm-click confirm-click="delete(item)">Delete</a>
            </div>

        </form>

        <div loader loader-if="!item && isLoading"></div>

    </div>

</script>

<script type="text/ng-template" id="projects.create.html">

    <h1>New Project</h1>
    
    <div class="col-sm-8">
        <form class="form-horizontal" ng-if="item" name="itemForm" ng-submit="create(itemForm, item)">

            <div class="form-group">
                <label for="name">@Html.DisplayNameFor(x => new Project().Name)</label>
                <input type="text" class="form-control" id="name" placeholder="" ng-model="item.name" ng-required />
            </div>

            <div class="form-group">
                <label for="vehicle">@Html.DisplayNameFor(x => new Project().Vehicle)</label>
                <select id="vehicle" class="form-control" ng-model="item.vehicle" ng-options="v.name for v in vehicles"></select>
            </div>
            <div class="form-group">
                <label for="vehicleNumber">@Html.DisplayNameFor(x => new Project().VehicleNumber)</label>
                <input type="number" step="1" min="0" class="form-control" id="vehicleNumber" placeholder="" ng-model="item.vehicleNumber" />
            </div>
            <div class="form-group">
                <label for="assemblyLinesNumber">@Html.DisplayNameFor(x => new Project().AssemblyLinesNumber)</label>
                <input type="number" step="1" min="0" class="form-control" id="assemblyLinesNumber" placeholder="" ng-model="item.assemblyLinesNumber" />
            </div>

            <p>&nbsp;</p>
            <div class="form-group">
                <a class="btn btn-default" ui-sref="^.projects">&larr; Back</a>
                <button type="submit" class="btn btn-primary" ng-disabled="itemForm.$invalid || item.$isLoading">
                    <span ng-if="item.$isLoading === undefined">Create</span>
                    <span ng-if="item.$isLoading === false"><i class="fa fa-check"></i> Created</span>
                    <span ng-if="item.$isLoading === true"><i class="fa fa-spinner fa-spin"></i> Creating...</span>
                </button>
            </div>

        </form>
    </div>

</script>
