@{
    ViewBag.Title = "Melnikov Assembly Line Application";
}

<div class="panel page-container">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="" ui-sref="app.projects" class="list-group-item">Projects</a>
                    <a href="" ui-sref="app.employees" class="list-group-item">Employees</a>
                    <a href="" ui-sref="app.vehicles" class="list-group-item">Vehicles</a>
                    <a href="" ui-sref="app.lines" class="list-group-item">Lines</a>
                    <a href="" ui-sref="app.vehicles" class="list-group-item">Vehicles</a>
                    <a href="" ui-sref="app.vehicles" class="list-group-item">Vehicles</a>
                    <a href="" ui-sref="app.vehicles" class="list-group-item">Vehicles</a>
                </div>
            </div>
            <div class="col-md-9">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>

@section TitleBinding { ng-bind="pageTitle" }

@section scripts {
    @Scripts.Render("~/bundles/app")
}

@Html.Partial("_Home")
@Html.Partial("_Employees")
@Html.Partial("_Vehicles")
@Html.Partial("_Projects")
@Html.Partial("_Lines")