<!DOCTYPE html>
<html ng-app="assemblyLine" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title @RenderSection("TitleBinding", false)>@ViewBag.Title</title>
    <base href="/">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <h1 class="brand">Melnikov Assembly Line</h1>
        @RenderBody()
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year Melnikov Alexey. Source code available on <a href="https://github.com/alexey-ernest/assembly-line" target="_blank">GitHub</a>.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
